* {
  font-family: sans-serif;
}
.App {
  text-align: center;
  box-sizing: border-box;
  display: block;
}
label {
  font-weight: bold;
}

#headDiv {
  border: solid red 5px;
  border-radius: 15px;
  height: 50%;
  background-color: rgba(0, 255, 210, 0.5);
  max-width: 500px;
  margin: 0 auto;
  padding-bottom: 30px;
}

a {
  font-weight: bold;
  font-size: x-large;
  color: purple;
}

#gameDiv {
  border: solid red 5px;
  height: 50%;
  max-width: 500px;
  margin: 0 auto;
  border-radius: 15px;
  margin-top: 300px;
  padding: 30px;
  background-color: aquamarine;
  display: block;
}

#dateInput {
  height: 6vh;
  width: 75%;
  text-align: center;
  font-size: 1rem;
  margin: 1rem;
}
#luckyNumber {
  margin-top: 0px;
  height: 6vh;
  width: 75%;
  text-align: center;
  font-size: 1rem;
  padding-top: 0px;
}

#checkBtn {
  height: 6vh;
  width: 15vh;
  margin: 1rem;
  font-weight: bolder;
  font-size: 1rem;
  color: black;
  background-color: white;
  border-radius: 15px;
  border: solid;
}
img {
  height: 50%;
  width: 50%;
  display: block;
  margin: auto;
}
#result {
  font-weight: bold;
  font-size: 1.3rem;
  color: red;
}
ul {
  padding: 0;
}
.socialMedia {
  display: inline;
  padding: 0 0.4rem;
}
.links {
  text-decoration: none;
  font-size: 17px;
}
.socialMediaDiv {
  border: solid aqua 10px;
  border-radius: 15px;
  margin: auto;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 5rem;
}
p {
  font-weight: bold;
}
